
<div class="card mt-3">
    
    <input type="hidden" name="ClientId" value="@Model.ClientId" />
    <div class=" text-center">
        <h4>Order</h4>
        <h4>Customer name: @Model.OrderName</h4>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped text-center">
                <thead>
                    <tr>
                        <th>stt</th>
                        <th>Order Name</th>
                        <th>Image</th>
                        <th>Quantity</th>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.orderDetails != null && Model.orderDetails.Count > 0)
                    {
                        int index = 0;
                        foreach (var detail in Model.orderDetails)
                        {
                            <tr>
                                <td style="vertical-align: middle;">@(++index)</td>
                                <td style="vertical-align: middle;">@ViewBag.ProductName</td>
                                <td style="vertical-align: middle;">
                                    <img src="@Url.Action("GetImage", "Order", new { imageName = detail.product.Image })" alt="@detail.product.ProductName"
                                         style="width:100px; height: 100px; object-fit: cover;" />
                                </td>
                                <td style="vertical-align: middle;">
                                    <button type="button" class="btn btn-secondary btn-sm" onclick="decreaseQuantity(@index)">-</button>
                                    <span id="quantity-@index">@detail.Quantity</span>
                                    <button type="button" class="btn btn-secondary btn-sm" onclick="increaseQuantity(@index)">+</button>
                                    <input type="hidden" name="orderDetails[@index].Quantity" value="@detail.Quantity" id="input-quantity-@index" />
                                </td>
                                <td style="vertical-align: middle;">
                                    <span>@detail.Size</span>
                                </td>
                                <td style="vertical-align: middle;">
                                    <input type="hidden" name="orderDetails[@index].Price" value="@detail.Price" />
                                    @detail.Price.ToString("N0") $
                                </td>
                                <td style="vertical-align: middle;">
                                    <a class="btn">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7" class="text-center" style="vertical-align: middle;">No products found.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div> <!-- /.table-responsive -->
    </div> <!-- /.card-body -->
</div> <!-- /.card -->
